<div class="card text-center w-75 mx-auto">

  <h5 class="card-header">
    <label class="align-items-center"> Profilo utente </label>
  </h5>
  <ng-container *ngIf="profilo$ | async as profilo">
    <div class="card-body list-group" *ngIf="profilo">
      <dl class="row  mr-50 mr-50">
        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info text-right">Nome:</dt>
        <dd class="col-sm-5 badge-light text-left">  {{profilo.nome}}</dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info text-right"> Cognome:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.cognome}} </dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info text-right"> Codice fiscale:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.codiceFiscale}} </dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-2 "></dt>
        <dd class="col-sm-5 badge-light text-left"></dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2"></dt>
        <dt class="col-sm-3 badge-info  text-right"> Email:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.email}} </dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info  text-right"> Telefono:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.telefono}} </dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info text-right"> Ruolo:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.ruolo}} </dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-2 "></dt>
        <dd class="col-sm-5 badge-light text-left"></dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info  text-right"> Data creazione:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.dataCreazione | date:"dd/MM/yyyy hh:mm"}} </dd>
        <dt class="col-sm-2 "></dt>

        <dt class="col-sm-2 "></dt>
        <dt class="col-sm-3 badge-info  text-right"> Data ultima modifica:</dt>
        <dd class="col-sm-5 badge-light text-left">{{profilo.dataModifica | date:"dd/MM/yyyy hh:mm"}} </dd>
        <dt class="col-sm-2 "></dt>

      </dl>
    </div>


    <div class="card-footer text-center btn-group" *ngIf="isMe(profilo.codiceFiscale)">
      <button class="button btn btn-primary " [routerLink]="['/admin/profile/form', profilo.codiceFiscale]">Modifica</button>
      <button class="button btn btn-danger " (click)=clickDelete(profilo)>Elimina</button>
      <button type="button" class="btn btn-secondary " [routerLink]="['/admin/users']">Chiudi</button>

    </div>
  </ng-container>
</div>


