<div class="card">
  <div class="card-body text-center">
    <label class="mr-sm-5"><h5>FILTRO</h5></label>

    <!-- Periodo-->
    <label class="mr-sm-3"> periodo
      <input type="date" placeholder="INIZIO" [(ngModel)]="filtro.dataInizio" class="text-center"
             triggers="mouseenter:mouseleave" ngbPopover="inizio ferie">
      -
      <input type="date" placeholder="FINE" [(ngModel)]="filtro.dataFine" class="text-center"
             triggers="mouseenter:mouseleave" ngbPopover="fine ferie">
    </label>

    <!-- Richiedente-->
    <label class="mr-sm-3" triggers="mouseenter:mouseleave" ngbPopover="richiedente">
      <input type="text" placeholder="CF RICHIEDENTE" [(ngModel)]="filtro.richiedente" class="text-center">
    </label>

    <!-- Responsabile-->
    <label class="mr-sm-3" triggers="mouseenter:mouseleave" ngbPopover="responsabile">
      <input type="text" placeholder="CF RESPONSABILE" [(ngModel)]="filtro.responsabile" class="text-center">
    </label>

    <!-- Stato-->
    <label class="mr-sm-3" triggers="mouseenter:mouseleave" ngbPopover="stato"> stato
      <select [(ngModel)]="filtro.stato" class="text-center">
        <!--<option *ngFor="let state of states" [ngValue]="state">{{state.name}}</option>-->
        <option value=''> - </option>
        <option value="{{stateType.BOZZA}}">BOZZA</option>
        <option value="{{stateType.IN_MODIFICA}}">IN MODIFICA</option>
        <option value="{{stateType.IN_ATTESA_DI_APPROVAZIONE}}">IN ATTESA DI APPROVAZIONE</option>
        <option value="{{stateType.APPROVATA}}">APPROVATA</option>
        <option value="{{stateType.RIFIUTATA}}">RIFIUTATA</option>
      </select>
    </label>

    <app-btn-group-filter (filterEvt)="onFilter()" (deleteEvt)="cancellaFiltro()"></app-btn-group-filter>

  </div>
</div>
